In [3]:
import random
import pandas as pd

rank_list = ["Great", "Good", "Okay", "Bad", "Poor"]
items = pd.Series([random.choice(rank_list) for i in range(100)])
items

0      Okay
1      Good
2      Poor
3      Good
4       Bad
      ...
95     Okay
96    Great
97     Okay
98      Bad
99    Great
Length: 100, dtype: object

In [4]:
size_dict = {'Poor': 0, 'Bad':1, 'Okay':2, 'Good':3, 'Great':4}
encoded_items = items.map(lambda x: size_dict[x])

pd.DataFrame({"Rank":items, "Encoded Rank":encoded_items})

     Rank  Encoded Rank
0    Okay             2
1    Good             3
2    Poor             0
3    Good             3
4     Bad             1
..    ...           ...
95   Okay             2
96  Great             4
97   Okay             2
98    Bad             1
99  Great             4

[100 rows x 2 columns]

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [7]:
pd.get_dummies(df, columns=['species'])

,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [36]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
cars_df = pd.read_csv(url).dropna(subset=['Manufacturer', 'Price'])
cars_df

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
5,Buick,Century,Midsize,14.2,15.7,17.3,22.0,31.0,Driver only,NaN,...,6.0,189.0,105.0,69.0,41.0,28.0,16.0,NaN,USA,Buick Century
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,Volkswagen,Fox,Small,8.7,9.1,9.5,25.0,33.0,None,Front,...,4.0,163.0,93.0,63.0,34.0,26.0,10.0,2240.0,non-USA,Volkswagen Fox
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240

In [40]:
means = cars_df[['Manufacturer', 'Price']].groupby('Manufacturer').mean()
cars_df['Manufacturer_transformed'] = cars_df['Manufacturer'].dropna().apply(lambda x: means.loc[x, "Price"])
cars_df[['Manufacturer', 'Manufacturer_transformed', 'Price']]

   Manufacturer  Manufacturer_transformed  Price
0         Acura                    15.900   15.9
2          Audi                    33.400   29.1
3          Audi                    33.400   37.7
4           BMW                    30.000   30.0
5         Buick                    21.625   15.7
..          ...                       ...    ...
87   Volkswagen                    18.025    9.1
88   Volkswagen                    18.025   19.7
89   Volkswagen                    18.025   20.0
90   Volkswagen                    18.025   23.3
91        Volvo                    22.700   22.7

[87 rows x 3 columns]

In [42]:
cars_df.Make.unique()

array(['Acura Integra', 'Audi 90', 'Audi 100', 'BMW 535i',
       'Buick Century', 'Buick LeSabre', 'Buick Roadmaster',
       'Buick Riviera', 'Cadillac DeVille', 'Cadillac Seville',
       'Chevrolet Cavalier', 'Chevrolet Corsica', 'Chevrolet Camaro',
       'Chevrolet Lumina', 'Chevrolet Lumina_APV', 'Chevrolet Astro',
       'Chevrolet Caprice', 'Chevrolet Corvette', 'Chrysler LeBaron',
       'Chrysler Imperial', 'Dodge Colt', 'Dodge Shadow', 'Dodge Spirit',
       'Dodge Caravan', 'Dodge Dynasty', 'Dodge Stealth', 'Eagle Summit',
       'Eagle Vision', 'Ford Festiva', 'Ford Escort', nan, 'Ford Mustang',
       'Ford Probe', 'Ford Aerostar', 'Ford Taurus',
       'Ford Crown_Victoria', 'Geo Metro', 'Geo Storm', 'Honda Prelude',
       'Honda Civic', 'Honda Accord', 'Hyundai Excel', 'Hyundai Elantra',
       'Hyundai Sonata', 'Infiniti Q45', 'Lexus ES300',
       'Lincoln Continental', 'Lincoln Town_Car', 'Mazda 323',
       'Mazda Protege', 'Mazda 626', 'Mazda MPV', 'Mazda RX-7',
       'Mercedes-Benz 190E', 'Mercedes-Benz 300E', 'Mercury Capri',
       'Mercury Cougar', 'Mitsubishi Mirage', 'Mitsubishi Diamante',
       'Nissan Sentra', 'Nissan Altima', 'Nissan Quest', 'Nissan Maxima',
       'Oldsmobile Achieva', 'Oldsmobile Cutlass_Ciera',
       'Oldsmobile Silhouette', 'Oldsmobile Eighty-Eight',
       'Plymouth Laser', 'Pontiac LeMans', 'Pontiac Firebird',
       'Pontiac Grand_Prix', 'Pontiac Bonneville', 'Saab 900',
       'Subaru Justy', 'Subaru Loyale', 'Subaru Legacy', 'Suzuki Swift',
       'Toyota Tercel', 'Toyota Celica', 'Toyota Previa',
       'Volkswagen Fox', 'Volkswagen Eurovan', 'Volkswagen Passat',
       'Volkswagen Corrado', 'Volvo 240'], dtype=object)

In [45]:
mapper = {value:name for name, value in enumerate(cars_df.Make.unique())}
mapper

{'Acura Integra': 0,
 'Audi 90': 1,
 'Audi 100': 2,
 'BMW 535i': 3,
 'Buick Century': 4,
 'Buick LeSabre': 5,
 'Buick Roadmaster': 6,
 'Buick Riviera': 7,
 'Cadillac DeVille': 8,
 'Cadillac Seville': 9,
 'Chevrolet Cavalier': 10,
 'Chevrolet Corsica': 11,
 'Chevrolet Camaro': 12,
 'Chevrolet Lumina': 13,
 'Chevrolet Lumina_APV': 14,
 'Chevrolet Astro': 15,
 'Chevrolet Caprice': 16,
 'Chevrolet Corvette': 17,
 'Chrysler LeBaron': 18,
 'Chrysler Imperial': 19,
 'Dodge Colt': 20,
 'Dodge Shadow': 21,
 'Dodge Spirit': 22,
 'Dodge Caravan': 23,
 'Dodge Dynasty': 24,
 'Dodge Stealth': 25,
 'Eagle Summit': 26,
 'Eagle Vision': 27,
 'Ford Festiva': 28,
 'Ford Escort': 29,
 nan: 30,
 'Ford Mustang': 31,
 'Ford Probe': 32,
 'Ford Aerostar': 33,
 'Ford Taurus': 34,
 'Ford Crown_Victoria': 35,
 'Geo Metro': 36,
 'Geo Storm': 37,
 'Honda Prelude': 38,
 'Honda Civic': 39,
 'Honda Accord': 40,
 'Hyundai Excel': 41,
 'Hyundai Elantra': 42,
 'Hyundai Sonata': 43,
 'Infiniti Q45': 44,
 'Lexus ES300': 45,
 'Lincoln Continental': 46,
 'Lincoln Town_Car': 47,
 'Mazda 323': 48,
 'Mazda Protege': 49,
 'Mazda 626': 50,
 'Mazda MPV': 51,
 'Mazda RX-7': 52,
 'Mercedes-Benz 190E': 53,
 'Mercedes-Benz 300E': 54,
 'Mercury Capri': 55,
 'Mercury Cougar': 56,
 'Mitsubishi Mirage': 57,
 'Mitsubishi Diamante': 58,
 'Nissan Sentra': 59,
 'Nissan Altima': 60,
 'Nissan Quest': 61,
 'Nissan Maxima': 62,
 'Oldsmobile Achieva': 63,
 'Oldsmobile Cutlass_Ciera': 64,
 'Oldsmobile Silhouette': 65,
 'Oldsmobile Eighty-Eight': 66,
 'Plymouth Laser': 67,
 'Pontiac LeMans': 68,
 'Pontiac Firebird': 69,
 'Pontiac Grand_Prix': 70,
 'Pontiac Bonneville': 71,
 'Saab 900': 72,
 'Subaru Justy': 73,
 'Subaru Loyale': 74,
 'Subaru Legacy': 75,
 'Suzuki Swift': 76,
 'Toyota Tercel': 77,
 'Toyota Celica': 78,
 'Toyota Previa': 79,
 'Volkswagen Fox': 80,
 'Volkswagen Eurovan': 81,
 'Volkswagen Passat': 82,
 'Volkswagen Corrado': 83,
 'Volvo 240': 84}

In [46]:
encoded_items = cars_df.Make.map(lambda x: mapper[x])
encoded_items

0      0
2      1
3      2
4      3
5      4
      ..
87    80
88    81
89    82
90    83
91    84
Name: Make, Length: 87, dtype: int64