In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
#Exercise_1

def num_arr(start):
    arr = np.arange(start=start, stop=100, step=4)
    return arr

In [8]:
num_arr(6)

array([ 6, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46, 50, 54, 58, 62, 66, 70,
       74, 78, 82, 86, 90, 94, 98])

In [9]:
#Exercise_2

a = np.array([1,2,3,np.nan,5,6,7,np.nan])
a = [x for x in a if ~np.isnan(x)]
print(a)

[1.0, 2.0, 3.0, 5.0, 6.0, 7.0]

In [10]:
#Exercise_3

from random import random

array_rand = np.random.randint(101, size=5*6).reshape((5,6))
array_rand

array([[ 19,  85,  23,  24,  57, 100],
       [ 31,  42,  67,  13,  93,  54],
       [ 14,  92,  48,   2,  31,  42],
       [ 53,  62,  49,  84,  70,  23],
       [ 75,   3,  57,  63,  22,  83]])

In [11]:
#Exercise_4

series = pd.Series(np.take(list('abcdefghijklmnop'), np.random.randint(16, size=500)))
series.unique()

array(['m', 'k', 'j', 'n', 'i', 'l', 'd', 'c', 'g', 'a', 'b', 'h', 'e',
       'p', 'f', 'o'], dtype=object)

In [12]:
series.value_counts()

c    40
m    38
k    36
b    35
j    35
h    34
i    32
g    31
f    31
e    30
l    28
o    28
d    27
n    27
p    24
a    24
dtype: int64

In [95]:
#Exercise_5

from dateutil.parser import parse


data = pd.Series(['01 Jan 2020', '10-19-2020', '20150303', '2013/04/04', '2012-05-05', '2013-06-06T12:20'])
for x in data:
    print(parse(x).month, parse(x).day, parse(x).weekday())

1 1 2
10 19 0
3 3 1
4 4 3
5 5 5
6 6 3

In [13]:
#Exercise_6

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

In [14]:
df.shape[1]

27

In [15]:
df = df.rename(columns={"Type":"TypeOfCar"})
df

,Manufacturer,Model,TypeOfCar,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

In [16]:
df.isnull().sum()

Manufacturer           4
Model                  1
TypeOfCar              3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

In [17]:
df.isnull().sum().max()

19

In [18]:
#Exercise_7

df_drop = df.drop(columns=['EngineSize', 'Length'])
df_drop

df_drop_2 = df.pop('EngineSize')
df_drop_3 = df.pop('Length')
df_drop['EngineSize', 'Length']

KeyError: ('EngineSize', 'Length')

In [19]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

df1

    fruit  weight  price
0   apple    high      7
1  banana  medium     14
2  orange     low      5
3   apple    high      8
4  banana  medium      5
5  orange     low      8
6   apple    high     11
7  banana  medium      7
8  orange     low      8

In [20]:
df2

   pazham  kilo  price
0   apple  high     10
1  orange   low      4
2    pine  high      8
3   apple   low      7
4  orange  high     14
5    pine   low      9

In [21]:
result = pd.merge(df1, df2, left_on=['fruit', 'weight'], right_on = ['pazham', 'kilo'], how = 'inner')
result

    fruit weight  price_x  pazham  kilo  price_y
0   apple   high        7   apple  high       10
1   apple   high        8   apple  high       10
2   apple   high       11   apple  high       10
3  orange    low        5  orange   low        4
4  orange    low        8  orange   low        4
5  orange    low        8  orange   low        4

In [22]:
#Exercise_9

df = pd.DataFrame(["STD,City\tState",
"33,Kolkata\tWest Bengal",
"44,Chennai\tTamil Nadu",
"40,Hyderabad\tTelengana",
"80,Bangalore\tKarnataka"], columns=['row'])

df_out = df.row.str.split(',|\t', expand=True)

new_header = df_out.iloc[0]
df_out = df_out[1:]
df_out.columns = new_header
print(df_out)

0 STD       City        State
1  33    Kolkata  West Bengal
2  44    Chennai   Tamil Nadu
3  40  Hyderabad    Telengana
4  80  Bangalore    Karnataka

In [30]:
names = ["mpg", "cylinders", "displacement", "horsepower", "weight", "acceleration", "model_year", "origin", "car_name"]
df_mpg = pd.read_csv("auto-mpg.data", header=None, names=names, delim_whitespace=True)
df_mpg

FileNotFoundError: [Errno 2] File auto-mpg.data does not exist: 'auto-mpg.data'